<div class="layout layout--col">
  <div class="flex flex--center-y flex--center-x gap">
    <div class="text--center mr--10">
      <h1 class="title title--base lg:title--large">
        {% if days_until_pickup == 0 %}
          Bin pickup is today.
        {% else %}
          Next bin pickup is in {{ days_until_pickup }} day{% if days_until_pickup != 1 %}s{% endif %}
        {% endif %}
      </h1>
      <div class="text--center mb--5">
        <span class="description description--base lg:description--large">Place bins at the street no later than 6 a.m.</span>
      </div>
      <div class="mt--5">
        <span class="title title--small lg:title--base">
          {{ next_pickup_day | date: "%A, %B %-d" }}
        </span>
      </div>
    </div>
    {{ pickup_events }}
  </div>
</div>
