<div class="layout layout--col">
  <div class="layout layout">
    <div class="text--center">
      <h1 class="title title--large">
        {% if days_until_pickup == 0 %}
          Bin pickup is today.
        {% else %}
          Next bin pickup is in {{ days_until_pickup }} day{% if days_until_pickup != 1 %}s{% endif %}
        {% endif %}
      </h1>
      <div class="description text--center">Place bins at the street no later than 6 a.m.</div>
      <div class="mt--5">
        <span class="title title--small">{{ next_pickup_day | date: "%A, %B %-d" }}</span>
      </div>
    </div>
    {{ pickup_events }}
  </div>
</div>
