<div class="layout layout--col">
  <div class="">
    <div class="text--center">
      <h1 class="title title--large">
        {% if days_until_pickup == 0 %}
          Bin pickup is today.
        {% else %}
          Next bin pickup is in {{ days_until_pickup }} day{% if days_until_pickup != 1 %}s{% endif %}
        {% endif %}
      </h1>
    </div>
    {{ pickup_events }}
  </div>
</div>
