<div class="layout layout--col">
  <h1 class="description description--base lg:description--xlarge">
    {% if days_until_pickup == 0 %}
      Bin pickup is today.
    {% else %}
      Next bin pickup is in {{ days_until_pickup }} day{% if days_until_pickup != 1 %}s{% endif %}
    {% endif %}
    • {{ next_pickup_day | date: "%A, %B %-d" }}
  </h1>
  {% render "pickup_events" sorted_events: sorted_events, next_pickup_day: next_pickup_day, icon_size: "small" %}
</div>
